[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
Flask-sqlalchemy = "*"
alembic = "*"
Flask-migrate = "*"
Flask = "*"
python-dotenv = "*"
Flask-wtf = "*"
wtforms = "*"
sqlalchemy = "*"
Flask-cors = "*"
Flask-login = "*"
gunicorn = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
