main {
  height: 90vh;
}

.home-body {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.games {
  width: 60vw;
}

.friends-list-wrapper {
  width: 40vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.new-game-wrapper {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
