main {
  height: 100vh;
}

.home-body {
  display: flex;
  flex-direction: row;
}

.games {
  width: 60vw;
}

.friends-list-wrapper {
  width: 40vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
