.users-lists {
  display: flex;
  flex-direction: column;
}

.users-lists ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
}
.users-lists {
  height: 80vh;
  width: 100%;
}
.all-users,
.my-friends-list-wrapper {
  height: 60vh;
  width: 100%;
  overflow-y: scroll;
}
.users-friends-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#my-friends-list {
  height: 60vh;
  overflow-y: scroll;
}

.avatars {
  width: 50px;
  border-radius: 50%;
}

.user-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: .5em;
}
.user-usernames {
  margin-left: 1em;
}
.follow-btn button {
  height: 40px;
  width: 100px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.follow-btn button.not-friend {
  background-color: rgba(128, 108, 202, 0.815);
}
.follow-btn button.friend {
  background-color: rgba(182, 37, 85, 0.815);
}

.users-lists li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
