main h1 {
  color: white;
}

.header {
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

.board {
  height: 85vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.left {
  height: 100%;
  width: 45%;
  border: 2px solid gray;
}

.right {
  height: 100%;
  width: 45%;
  border: 2px solid gray;
}

.player.table {
  width: 25vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2em;
  background-color: rgb(68, 66, 66);
  border: 2px solid blue;
  border-radius: 20px;
}

.player.headers,
.player.table .row {
  width: 90%;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.evil .headers span,
.evil .row .name,
.evil .row .faction,
.evil .row .status {
  width: 33.3%;
  height: 100%;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.good .headers span,
.good .row .name,
.good .row .faction,
.good .row .status {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player.headers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
}

.player.table .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


/* RoleModal */

.role-modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 1em;
  bottom: 1em;
}

#role-modal-reveal-wrapper {
  width: 25vw;
}


/* Mark */

.mark-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mark-wrapper > div {
  margin: 1em;
}

.mark-instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mark-wrapper .row {
  cursor: pointer;
}
.mark-wrapper .row.marked {
  background-color: rgb(36, 15, 7);
}

.mark-wrapper.good .row div,
.mark-wrapper.good .headers span {
  width: 50%;
}


/* LastBreath */

.last-breath-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.last-breath-wrapper > div {
  margin: 1em;
}

.last-breath-instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.last-breath-wrapper .row {
  cursor: pointer;
}
.last-breath-wrapper .row.caller {
  background-color: rgb(36, 15, 7);
}

.last-breath-wrapper .row div,
.last-breath-wrapper .headers span {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
}
.last-breath-wrapper .row,
.last-breath-wrapper .headers span {
  margin: 0;
}


/* Ending */

.ending-wrapper,
.ending-wrapper .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ending-wrapper > div:first-child {
  margin: 1em 0;
}
