.lineup-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faction.good {
  color: rgb(65, 186, 190);
}
.faction.evil {
  color: rgb(189, 72, 43);
}

.status.alive {
  color: rgb(53, 180, 53);
}
.status.caller {
  color: rgb(155, 102, 253);
}
.status.marked {
  color: rgb(187, 120, 33);
}
.status.dead {
  color: rgb(226, 223, 220);
}

.lineup-wrapper button {
  margin: 1em;
}



/* GameState */

.game-state {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.game-state .left {
  width: 50%;
  height: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game-state .right {
  width: 50%;
  height: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.refresh-btn {
  position: absolute;
  left: 1em;
  top: calc(10vh + 1em);
}
